force-app/main/default/flows/Character_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <dynamicChoiceSets>
        <name>Character_classes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Class__c</picklistField>
        <picklistObject>Character__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Character_Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Character__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Character_races</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Race__c</picklistField>
        <picklistObject>Character__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Character Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Character Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Character</name>
        <label>New Character</label>
        <locationX>821</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>Character_creation_finialized</targetReference>
        </connector>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>Age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charisma__c</field>
            <value>
                <elementReference>Charisma</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>Character_Class</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Constitution__c</field>
            <value>
                <elementReference>Constitution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dexterity__c</field>
            <value>
                <elementReference>Dexterity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eye_Color__c</field>
            <value>
                <elementReference>Eye_Color</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hair_Color__c</field>
            <value>
                <elementReference>Hair_Color</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intelligence__c</field>
            <value>
                <elementReference>Intelligence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Character_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Race__c</field>
            <value>
                <elementReference>Races</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strength__c</field>
            <value>
                <elementReference>Strength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wisdom__c</field>
            <value>
                <elementReference>Wisdom</elementReference>
            </value>
        </inputAssignments>
        <object>Character__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Character_Creation</name>
        <label>Character Creation</label>
        <locationX>79</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stats_Page</targetReference>
        </connector>
        <fields>
            <name>Character_Name</name>
            <dataType>String</dataType>
            <fieldText>Character Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Races</name>
            <choiceReferences>Character_races</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Race</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Character_Class</name>
            <choiceReferences>Character_classes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Class</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>Character_Gender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Eye_Color</name>
            <dataType>String</dataType>
            <fieldText>Eye Color</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Hair_Color</name>
            <dataType>String</dataType>
            <fieldText>Hair Color</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Character_creation_finialized</name>
        <label>Character creation finialized</label>
        <locationX>986</locationX>
        <locationY>149</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fnished_display_text</name>
            <fieldText>&lt;p&gt;{!Character_Name} has been successfully created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Character_description_screen</name>
        <label>Character_description_screen</label>
        <locationX>606</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Character</targetReference>
        </connector>
        <fields>
            <name>Character_Discription_Prompt</name>
            <fieldText>&lt;p&gt;Enter a description for your new character!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stats_Page</name>
        <label>Stats Page</label>
        <locationX>311</locationX>
        <locationY>316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Character_description_screen</targetReference>
        </connector>
        <fields>
            <name>Stats_Page_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stats_Page_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Charisma</name>
                    <dataType>Number</dataType>
                    <fieldText>Charisma</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Wisdom</name>
                    <dataType>Number</dataType>
                    <fieldText>Wisdom</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Constitution</name>
                    <dataType>Number</dataType>
                    <fieldText>Constitution</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stats_Page_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Dexterity</name>
                    <dataType>Number</dataType>
                    <fieldText>Dexterity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Intelligence</name>
                    <dataType>Number</dataType>
                    <fieldText>Intelligence</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Strength</name>
                    <dataType>Number</dataType>
                    <fieldText>Strength</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>168</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Character_Creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
